# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
